@tailwind base;
@tailwind components;
@tailwind utilities;

// Global Facilitator Cards Styles

@import "/fc-global/variables";
@import "/fc-global/mixins";
@import "/fc-global/cards";

@import url("https://use.typekit.net/ylq7fed.css");

@import "/fc-global/fci";
@font-face {
  font-family: "Facilitator-Cards-Icons-Virtual";
  src: url("../../static/fonts/facilitator-cards-icons/Facilitator-Cards-Icons-Virtual.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

:root {
  --text-color:  #001e1d;
}

.text-color-default {
  color: var(--text-color);
}

html {
  // scroll-behavior: smooth;
}

body {
  color: var(--text-color);
}

.theme-font {
  font-family: brandon-grotesque, sans-serif;
}

h1.theme-font, h2.theme-font, h3.theme-font, h4.theme-font, h5.theme-font {
  line-height: 1.1;
}

.logo {
  background-image: url('../../src/img/virtual-facilitator-cards-logo-72h.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 241px;
  height: 48px;
  display: block;
  text-indent: -99999px;
}

// Components

.btn {
  @apply .text-gray-900 .py-3 .px-4 .rounded-sm .theme-font .font-black .leading-none .bg-gradient-to-br .from-gray-100 .to-gray-200;

  &:hover, &:focus {
    @apply .from-gray-200 .to-gray-100 .shadow-outline;
  }
}

.btn-cta {
  @apply .from-yellow-500 .to-red-500;

  &:hover, &:focus {
    @apply .from-red-500 .to-yellow-500 .shadow-outline;
  }
}

.page-title {
  @apply .theme-font .text-2xl .font-black .leading-none;

  @screen md {
    @apply .text-3xl;
  }

  @screen lg {
    @apply .text-4xl;
  }
}

.prose {
  font-size: 16px;

  @screen md {
    font-size: 18px;
  }

  @screen lg {
    font-size: 21px;
  }

  p + p {
    @apply .mt-4;
  }

  a {
    border-bottom-width: .125em;
    border-style: solid;
  }

  a:hover, a:focus {
    color: #000;
  }

  li + li {
    @apply .mt-4;
  }
}

.wrap {
  max-width: 1280px;
  margin: 0 auto;
  @apply .px-6;

  @screen lg {
    @apply .px-12
  }
}

.submenu.active {

  @apply .font-black .relative;

  &:before {
    display: block;
    position: absolute;
    left: -.2em;
    width: .4em;
    height: .4em;
    content:  '';
    top: 50%;
    margin-top: -.2em;

    @apply .rounded .bg-gray-400;
  }
}

@media only screen and (min-width: 768px) {

  .griddled {
    display: grid;
    grid-template-columns: 1fr 15em;
    gap: 3em;
    grid-template-areas:"primary sidebar";
    grid-auto-flow: dense;
  }

  .primary { grid-area: primary; }
  .sidebar { grid-area: sidebar; }
}

// FOR COLORS


.emotion {
  .post-header, 
  .react-gravatar,
  .submenu.active:before {
    @apply .bg-teal-500; 
  }

  .prose a { 
    @apply .border-teal-500; 
  }

  a:hover, a:focus {
    @apply .text-teal-500;
  }

}
.ideation {
  .post-header, 
  .react-gravatar,
  .submenu.active:before {
    @apply .bg-green-500; 
  }

  .prose a { 
    @apply .border-green-500; 
  }

  a:hover, a:focus {
    @apply .text-green-500;
  }

}
.clarification {
  .post-header, 
  .react-gravatar,
  .submenu.active:before {
    @apply .bg-yellow-500; 
  }
  .prose a { 
    @apply .border-yellow-500; 
  }

  a:hover, a:focus {
    @apply .text-yellow-500;
  }
}
.execution {
  .post-header, 
  .react-gravatar,
  .submenu.active:before { 
    @apply .bg-red-500;
  }
  .prose a {
    @apply .border-red-500;
  }

  a:hover, a:focus {
    @apply .text-red-500;
  }
}
